.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.form-horizontal .form-group, .row {
	margin-left: -10px;
	margin-right: -10px;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #e0e0e0;
	color: #404040;
}

.container {
	max-width: 960px;
}

#pageHeader {
	color: white;
	background-color : #789;
	border-bottom: 1px solid #68798C;
}

#pageHeader .logo {
	height: 80px;
	margin: 0;
	text-indent: -1000em;
	background-image: url('logo-yacrs.png');
	background-position: 0 50%;
	background-repeat: no-repeat;
}

#pageHeader #loginBox
{
	position: absolute;
	width: 90px;
	left: 50%;
    top: 15px;
	margin-left: 330px;
    text-align: right;
    color: #B4C0CD;
}

#pageHeader #loginBox a
{
	color: yellow;
}

#pageHeader h1
{
	font-weight : lighter;
	font-size: 25px;
	margin: 0px;
	margin-left: 160px;
}

#pageHeader h2
{
	font-weight : lighter;
    font-size: 20px;
    margin-top: 2px;
	margin-bottom: 2px;
	/*color: #086cff;*/
	color: white;
	margin-left: 160px;
}

#main {
	padding-top: 20px;
	padding-bottom: 20px;
}

#main #content {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	overflow: hidden;
}

#main #content h2:first-child {
	margin-top: 0;
}

#modechoice
{
	float:right;
    margin: 20px;
    color:white;
    margin-top:10px;
    font: 110% Helvetica, Arial, sans-serif;
}
#modechoice a
{
    color: #404040;
}

#main h1:first-child, #main h2:first-child, #main h3:first-child {
	margin-top: 0;
}

h1, h2, h3{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.6em;
	line-height: 1.4em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.4em;
}

h3 {
	font-size: 1.2em;
}

label {
	font-weight: normal;
}

table {
	font-size: inherit;
}

.form-group .alert {
	margin-bottom: 0;
}

#pageHeader .loginBox {
	float: right;
	margin-top: 30px;
}

#pageHeader .loginBox a {
	margin-left: 0.5em;
	text-decoration: none;
	color: #fff;
}

.adminSections {
	padding-left: 0;
}

.adminSections > li {
	display: block;
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.adminSections ul {
	padding-left: 0;
}

.adminSections ul li {
	display: block;
}

.badge {
	float: right;
}

.user-badge {
	margin-left: 1em;
}

.user-badge.admin {
	color: #7D2239;
}

.user-badge.creator {
	color: #005133;
}

.user-badge.session-id {
	color: #B59079;
}

.page-section {
	font-size: 1.2em;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	background-color: #e0e0e0;
	padding: 5px;
	margin-top: 20px;
}

.form-export-data {
	margin-top: 20px;
	background-color: #f5f5f5;
	padding: 20px;
	margin-bottom: 0;
}

.form-export-data .form-group:last-child {
	margin-bottom: 0;
}

.session-list {
	padding-left: 0;
}

.session-list li {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}

.session-list li:last-child {
	border-bottom: none;
}

.session-list li:nth-child(2n) {
	background-color: #f5f5f5;
}

.session-title {
	margin: 0;
}

.session-details {
	color: #777;
	margin-top: 5px;
	margin-bottom: 0;
}

.feature-links a {
	color: #777;
	text-decoration: none;
	margin-left: 1em;
}

.feature-links a:first-child {
	margin-left: 0;
}

td .feature-links {
	float: none;
	position: relative;
	top: 0;
	right: 0;
}

td .feature-links a {
	display: block;
	margin-left: 0;
	white-space: nowrap;
}

.feature-links i {
	width: 1.5em;
	text-align: center;
}

h1, h2, h3, .adminSections > li, .adminSections > li a {
	color: #586776;
	font-weight: normal;
}

.breadcrumb {
	padding-left: 0;
	margin-bottom: 20px;
	color: #4f5961;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li:after {
	content: "\203A";
	color: #999;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.breadcrumb li:last-child:after {
	content: none;
}

.breadcrumb a {
	color: #4f5961;
	text-decoration: none;
}

.adminSections > li {
	border-bottom: 1px solid #ccc;
	background-color: #e0e0e0;
	padding: 5px;
}

.user-search-form {
	padding: 10px;
	background-color: #f6f6f6;
	margin-top: 20px;
}

.user-search-form .form-group {
	margin-bottom: 0;
}

.table-striped td {
	position: relative;
}

.form-group .row {
	margin-bottom: 15px;
}

.page-bottom-button {
	margin-top: 20px;
}

#mublogForm {
	margin-bottom: 20px;
	overflow: hidden;
}

#mublogForm .submit {
	height: 74px;
}

#add_questionChat {
	margin-bottom: 20px;
	overflow: hidden;
}

#add_questionChat .submit {
	height: 74px;
}


/* YALIS update - css for comments improved bottom */
.submit-question{
	position:absolute;
	bottom:30px;
	right:8px;
	border: 0px solid transparent !important;
	border-radius: 100px !important;
	background-color: #197fcd !important;
	background-image: url("icons/icon-send.png") !important;
	background-repeat: no-repeat !important;
	background-size: 24px 24px;
	background-position: 11px 13px;
	width: 48px !important;
	height: 48px !important;
	padding: 10px !important;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
	-moz-box-shadow:    0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
	box-shadow:         0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
}

.submit-question:hover {
	background-position: 11px 13px !important;
	box-shadow: 0 10px 12px rgba(124, 124, 124, 0.3) !important;
}

.submit-question:focus{
	background-position: 11px 13px !important;
	box-shadow: 0 10px 12px rgba(124, 124, 124, 0.3) !important;
}

.extra-bottom {
	margin-bottom: 20px;
}

.question-active td:first-of-type {
    border-left: 5px solid #84db00;
}

.question-inactive td:first-of-type {
    border-left: 5px solid #e2e5e7;
}

.question-nav {
    overflow: hidden;
}

.question-nav-top {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.question-nav-bottom {
        margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

.question-nav div {
    text-align: center;
}

.question-nav div.question-prev {
    text-align: left;
}

.question-nav div.question-next {
    text-align: right;
}

/*YALIS Update*/
.icon-ask-question{
	float: right;
	display: none;
}

.showChat{
	margin-bottom: 0% !important;
}

.comment, .info {
    clear: both;
    max-width: 70%;
    margin-bottom: 20px;
}

.comment .meta, .info .meta {
    clear: both;
    margin-left: 10px;
    color: #777;
    font-size: 0.85em;
    margin-bottom: 0;
}

.meta .time {
    margin-left: 0.5em;
}

.meta .time:before {
    content: "\00b7";
    padding-right: 0.5em;
}

.comment .bubble, .info .bubble {
    position: relative;
    width: 100%;
    background-color: #CDDC39;
    padding: 12px;
    border-radius: 4px;
    margin-left: 10px;
    float: left;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(187,187,187,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(187,187,187,1);
    box-shadow: 0px 2px 2px 0px rgba(187,187,187,1);
    border-radius: 2px 15px 15px 15px;
}

.comment.me .bubble {
    background-color: #32a1ea;
	color: white;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 15px 2px 15px 15px;
}

.info .bubble {
    background-color: #EEE;
}

.comment.me .bubble:after {
    border-color: transparent #CCEC8C;
}

.comment.me {
    float: right;
    margin-right: 10px;
}

.comment.me .meta {
    text-align: right;
}

#add_questionChat .submit {
    border-radius: 100px;
}


.submit-reply{
	position: absolute;
	bottom: 14px;
	right: 20px;
	border: 0px solid transparent !important;
	border-radius: 100px !important;
	background-color: #197fcd !important;
	background-image: url("icons/icon-send.png") !important;
	background-repeat: no-repeat !important;
	background-size: 24px 24px;
	background-position: 11px 13px;
	width: 48px !important;
	height: 48px !important;
	padding: 10px !important;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
	-moz-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
	box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
}

.submit-reply:hover{
	background-position: 11px 13px !important;
	box-shadow: 0 10px 12px rgba(124, 124, 124, 0.3) !important;
}

.submit-reply:focus{
	background-position: 11px 13px !important;
	box-shadow: 0 10px 12px rgba(124, 124, 124, 0.3) !important;
}


.btn-best-answer{
	border-radius: 100px;
	float: right;
}

.correct-answer{
	max-width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 10px;
	font-size: 14px;
}

/* Overrides for Bootstrap's mobile theme */

@media (min-width: 768px) {

	.feature-links {
		float: right;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	
}

@media (max-width: 767px) {

	.feature-links {
		display: block;
		margin-top: 5px;
	}
	
	#pageHeader {
    	min-height: 42px;
	}
	
	#pageHeader .loginBox {
		float: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#pageHeader .logo {
    	height: auto !important;
		background-image: none !important;
		text-indent: 0;
		font-size: inherit;
		color: #fff;
		font-weight: 400;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#pageHeader .col-xs-6:last-of-type {
    	text-align: right;
	}
}