BODY {
    background-color: #778899;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 2px;
    padding: 0px;
    left: 0px;
    top: 0px;
    position: relative;
    height: 100%;
}

#outerContainer
{
	padding-top:60px;
	margin-top:2px;
}

#modechoice
{
	float:right;
    color:white;
    margin-top:-40px;
    font: 110% Helvetica, Arial, sans-serif;
}
#modechoice a
{
    color:white;
}

#pageHeader {display: none;}
.footer {display: none;}

#loginBox
{
	width: 80%;
	border: 1px solid #005288;
	margin-left: 8%;
    top: 15px;
	background-color : #D1CEC6;
	padding:5px;
	text-align:center;
	font: 100% Helvetica, Arial, sans-serif;
}

#loginBox table
{
	text-align:left;
}

#breadcrumb
{
	padding : 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #005288;
    font: 65% Helvetica, Arial, sans-serif;
}

#logoutLink
{
	padding : 5px;
	margin-top: 10px;
	text-align : right;
	clear: both;
    font: 75% Helvetica, Arial, sans-serif;
}

#main  h1
{
	font: 125%, Helvetica, Arial, sans-serif;
	font-weight : bolder;
    margin-top: 2px;
	margin-bottom: 2px;
	color: #404040;
}

#main h2
{
	font: 115%, Helvetica, Arial, sans-serif;
    margin-top: 2px;
	margin-bottom: 2px;
	color: #404040;
}

#main p
{
	font: 100%, Helvetica, Arial, sans-serif;
}

#main
{
    width: 90%;
	margin-left: 3%;
	position: relative;
	background-color : white;
	padding: 5px 25px 0 25px; 
	padding-left: 2%;
	min-height:200px;
}

#questionForm fieldset
{
	display: block;
	width: 97%;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

fieldset legend
{
	font: 100% Arial, Helvetica, sans-serif;
}

.stem
{
	font: 110% Arial, Helvetica, sans-serif;
}

#questionForm label
{
	display: block;
	vertical-align: middle;
	width : 90%;
	font: 150% Arial, Helvetica, sans-serif;
}

#questionForm .radio {
	margin: 2px;
	height: 40px;
	width : 40px;
}

.correct
{
	background-color: Green;
}

.incorrect
{
	background-color: #778899;
}

.mupost{
	margin-bottom: 2px;
	margin-top: 3px;
	border: 0;	
}

.muname{
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bolder;
	color: Gray;
}
.muinfo{
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color: Green;
}
.mumsg{
	font-family : Arial, Helvetica, sans-serif;
}
