body{
    background: #e0e0e0 !important;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main #content {
    background-color: transparent !important;
    border: 0px solid #ccc !important;
    padding: 20px;
    overflow: hidden;
}

#pageHeader{
    display: none !important;
}

#content:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #cccccc;
    text-shadow: 0px 2px 2px rgba(114, 114, 114, 1);
}

hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.message-container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 17%;
    padding: 10px 25%;
    max-height: 80%;
    overflow-y: scroll;
    visibility: hidden;
}


.form-container{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 5%;
    padding-right: 25%;
    padding-left: 25%;
    visibility: hidden;
}

#add_studentsQuestion{
    margin-bottom: 0px !important;
}

#add_studentsQuestion .form-group {
    margin-bottom: 0px;
}

.ask-question-textarea{
    width: 100% !important;
    border: 0px solid !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
    -moz-box-shadow:    0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
    box-shadow:         0px 3px 3px 0px rgba(124, 124, 124, 0.3) !important;
}

.submit-question{
    bottom:23px !important;
}

.ask-question{
    background: white;
    color: #3c3c3c;
    padding: 10px 5px 13px 5px !important;
    /*padding: 30px !important;*/
    /*margin: 15px;*/
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.3);
    -moz-box-shadow:    0px 3px 3px 0px rgba(124, 124, 124, 0.3);
    box-shadow:         0px 3px 3px 0px rgba(124, 124, 124, 0.3);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    float: none !important;
    margin: 0 auto 20px;
}
.ask-question:hover{
    box-shadow: 0 10px 12px rgba(124, 124, 124, 0.3);
}

.ask-question p {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

.card-buttons{
    width: 50%;
}

.button-pressed{
    color: #197fcd;
    font-weight: 800;
}

.comments{
    border-right: 1px solid #eee;
    color: #888;
    text-decoration: none
}

.bubble-for-badge{
    position: absolute;
    right: -10px;
    top: -10px;
    background: #197fcd;
    border-radius: 100px;
    padding: 10px;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(124, 124, 124, 0.5);
    -moz-box-shadow:    0px 3px 3px 0px rgba(124, 124, 124, 0.5);
    box-shadow:         0px 3px 3px 0px rgba(124, 124, 124, 0.5);
}

.card-badge{
    width: 26px;
    height: 26px;
}

/*jQuery toggles*/
.hide-unImpQuestion{
    float: none !important;
    width: 32px !important;
    height: 32px;
    border-radius: 100px;
    margin: 0 auto 12px;
}

.link{
    width: 50%;
    border-right: 1px solid #eee;
    color: #888;
    text-decoration: none
}

.hide-card-details{
    display: none;
}

.toggle-cards{
    width: 100% !important;
    height: auto !important;
    margin: 0 auto 12px !important;
}

.badge-toggle{
    z-index: 10000;
    right: 10px;
    top: 10px;
    padding: 15px;
    background: #b41bb0;
}

.badge-sort{
    z-index: 102000;
    right: 22px;
    top: 80px;
    padding: 10px;
    background: #fff;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #373737;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-top: -5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-left:20px
}

/* Overrides for Bootstrap's mobile theme */

@media (min-width: 768px) {

}

@media (max-width: 767px) {

    .message-container{
        bottom: 17%;
        padding-right: 8%;
        padding-left: 8%;
    }

    .form-container{
        bottom: 8%;
        padding-right: 8%;
        padding-left: 8%;
    }

    .card-badge{
        width: 21px;
        height: 21px;
    }

    .hide-unImpQuestion{
        width: 32px !important;
        height: 32px;
        margin: 0 auto 12px;
    }

}