@font-face {
	font-family:		'Glasgow';
	src:				url('ubuntu-normal.woff') format('woff');
	font-weight:		500;
	font-style:			normal;
}

@font-face {
	font-family:		'Glasgow';
	src:				url('ubuntu-normal-italic.woff') format('woff');
	font-weight:		500;
	font-style:			italic;
}

@font-face {
	font-family:		'Glasgow';
	src:				url('ubuntu-bold.woff') format('woff');
	font-weight:		700;
	font-style:			normal;
}

@font-face {
	font-family:		'Glasgow';
	src:				url('ubuntu-bold-italic.woff') format('woff');
	font-weight:		700;
	font-style:			italic;
}

body {
	font-family: 'Glasgow', 'Trebuchet MS', sans-serif;
	background: #f0f1f2;
	color: #444;
}

#pageHeader {
	background-color: #003865;
	border-bottom-color: #011A31;
	box-shadow: 0 1px 3px #4f5961;
}

#pageHeader .logo {
	height: 74px;
	background-image: url('logo-gu.png');
}

#pageHeader .loginBox {
	color: #6593BD;
}

#main #content {
    border-radius: 4px;
}

.page-section {
	border-bottom-color: #e2e5e7;
	background-color: #f0f1f2;
}

footer .glasgow {
	color: #003865;
	margin: 0;
	margin-bottom: 10px;
}

footer p {
	margin-bottom: 10px;
	color: @gu_slate;
}

footer .container {
	margin-top: 20px;
}

.footer-links h4 {
	padding: 0;
	font-size: 1em;
	line-height:19px;
	vertical-align: baseline;
	color: #003865;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.footer-links ul {
	margin: 0;
	margin-bottom: 20px;
	padding-left: 0;
}

.footer-links li {
	display: block;
	margin-bottom: 5px;
}

.form-export-data, .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#pageHeader .logo {
		background-image: url('logo-gu-retina.png');
		background-size: 172px 54px;
	}
}

.breadcrumb {
    background-color: #fff;
    border: 1px solid #e2e5e7;
}

.breadcrumb li {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #e2e5e7;
}

.breadcrumb li:last-child {
    border-right: none;
}

.breadcrumb li {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #e2e5e7;
}

.breadcrumb li:after {
    content: none;
}