body {
	margin : 0px;
	padding:0px;
left: 0px; 
top:0px;
position:relative;
color: #404040;
height: 100%;
background: #5c5940 url(http://www.gla.ac.uk/0t4/generic/images/background/arch1.gif) repeat-x bottom fixed;
}

#outerContainer
{
	background: url(http://www.gla.ac.uk/0t4/generic/images/background/arch1.jpg) no-repeat 880px bottom fixed;
	padding-left: 30px; 
	padding-bottom: 10em;
}

#modechoice
{
	float:right;
    color:white;
    margin-top:10px;
    font: 110% Helvetica, Arial, sans-serif;
}
#modechoice a
{
    color:white;
}

#pageHeader {
	width: 880px; 
	height: 78px;
	overflow: hidden; 
	padding: 30px 25px 0 25px; 
	background: #005288 url(http://www.gla.ac.uk/0t4/generic/images/pageheader.gif) no-repeat bottom right;
}

#branding #logo {display: none;}
#branding #sitename {font-size: 0;}
#branding #sitename a {float: left; width: 172px; height: 54px; display: block; overflow: hidden; text-indent: -5000em; background: url(http://www.gla.ac.uk/0t4/generic/images/logo.gif) no-repeat;}


#loginBox
{
	width: 40%;
	border: 1px solid #005288;
	margin-left: 28%;
    top: 15px;
	background-color : #D1CEC6;
	padding:15px;
	text-align:center;
	font: 100% Helvetica, Arial, sans-serif;
}

#loginBox table
{
	text-align:left;
}

#breadcrumb
{
	padding : 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #005288;
    font: 75% Helvetica, Arial, sans-serif;
}

#logoutLink
{
	padding : 5px;
	margin-top: 10px;
	text-align : right;
	clear: both;
    font: 75% Helvetica, Arial, sans-serif;
}

.links{
	float: right;
	width: 155px;
	margin-right:-20px;
}

#main  h1
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin: 0px;
}

#main h2
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : lighter;
    font-size: 20px;
    margin-top: 2px;
	margin-bottom: 2px;
	color: #888;
}

fieldset legend
{
	font: 100% Arial, Helvetica, sans-serif;
}

.stem
{
	font: 110% Arial, Helvetica, sans-serif;
}

#main
{
    width: 880px;
	position: relative;
	background-color : white;
	padding: 5px 25px 0 25px; 
	min-height:400px; 
}

#linksArea{
	float: right;
	width: 35%;
	top: 5px;
	left:1%;	
	margin: 1%;
	border: 1px solid #005288;
	padding: 2px;
	margin-right:0;
}

#content{
	    min-width:740px;
}

#coursesBlock{
	width: 70%;
	top: 5px;
	left:1%;	
	margin: 1%;
	border: 1px solid #005288;
	padding: 5px 15px 5px 15px;
	margin-left:13%;
}
#pageFooter.contact{
	clear: both;
}
#pageFooter .contact {color: #333;}
#pageFooter .contact a {color: #004d9c;}
#pageFooter ul { width: 310px;}
#pageFooter ul li a {color: #004d9c;}
#pageFooter {overflow: hidden;}

#pageFooter .backToTop {float: left; margin-left: 17px; font: 1.2em Arial, Helvetica, sans-serif; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; background-color: #939393; background: rgba(0, 0, 0, 0.3) url(http://www.gla.ac.uk/0t4/generic/images/shadow_bottom.png) repeat-x;}
#pageFooter .backToTop a {display: block; padding: 0.7em 1.2em; color: #fff;}
#pageFooter .backToTop a:hover {color: #ccc;}

#pageFooter .contact {clear: left; float: left; width: 350px; margin-top: 1.2em; padding-left: 221px; font: 0.7em Arial, Helvetica, sans-serif;}
#pageFooter .contact .adr {margin: 2.25em 0 0.5em 0;}
#pageFooter .contact .phoneEmail dl,
#pageFooter .contact .phoneEmail dd {display: inline;}
#pageFooter .contact .org {margin-bottom: 0.15em; font: 1.85em Georgia, "Times New Roman", Times, serif;}
#pageFooter .contact .org em {font-style: italic;}
#pageFooter .contact a:hover {text-decoration: underline;}

#pageFooter ul {float: left; width: 340px; margin-top: 2.1em;}
#pageFooter ul li {list-style: none; font: 0.7em Arial, Helvetica, sans-serif; line-height: 1.8em;}
#pageFooter ul li a:hover {text-decoration: underline;}

.formfield{
	margin-top: 10px;
	margin-bottom: 10px;
}

.errormsg
{
	color: red;
}

#box
{
	width: 50%;
	border: 1px solid #005288;
	margin-left: 24%;
    top: 5px;
	background-color : #D1CEC6;
	padding:15px;
	text-align:center;
	font: 100% Helvetica, Arial, sans-serif;
}

#box h2
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : lighter;
    font-size: 20px;
    margin-top: 0px;
	margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
	color: #005288;
	text-align:left;
}

#questionForm fieldset
{
	display: block;
	width: 97%;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#questionForm legend
{
		font: 80% Arial, Helvetica, sans-serif;

}

#questionForm label
{
	display: block;
	vertical-align: middle;
	width : 90%;
	font: 110% Arial, Helvetica, sans-serif;
}

.correct
{
	background-color: Green;
}

.incorrect
{
	background-color: #778899;
}

.mupost{
	margin-bottom: 2px;
	margin-top: 3px;
	border: 0;	
}

.muname{
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bolder;
    color: Gray;
	width: 45px;
}
.muinfo{
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	color: Green;
	width: 45px;
}
.mumsg{
	font-family : Arial, Helvetica, sans-serif;
}
